<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
		id="com.mauvm.bletest.plugin"
		version="0.1.0">
	<name>BLE Test</name>
	<description>BLE Test Plugin</description>
	<license>MIT</license>
	<keywords>phonegap,BLE,test</keywords>


	<js-module src="www/bletest.js" name="BLETestPlugin">
		<runs />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BLETestPlugin">
				<param name="android-package" value="com.mauvm.bletest.plugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH"/>
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
			<uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
		</config-file>

		<source-file src="src/android/com/mauvm/bletest/plugin/BLETestPlugin.java" target-dir="src/com/mauvm/plugins/bletest/plugin" />
	</platform>
</plugin>